img {
  width: 10rem;
  height: 8rem;
  border-radius: 20%;
}
.dog-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border: burlywood solid 5px;
  padding: 1rem;
  width: 500px;
  border-radius: 50px;
}
