img {
  width: 10rem;
  height: 8rem;
  border-radius: 20%;
}
.dog-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border: burlywood solid 5px;
  padding: 1rem;
  width: 200px;
  height: 300px;
  border-radius: 50px;
  background-color: rgba(62, 205, 131, 0.673);
}
