header {
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.link {
  margin: 50px;
  color: blanchedalmond;
}
.link:active {
  color: green;
}
h1 {
  margin: 0;
}
